@charset "UTF-8";

html {
  font-size: 100%;
}
body {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.readmore {
    text-align: center;
    font-size: 14px;
}
.readmore a {
    padding-bottom: 1px;
    display: inline-block;
    position: relative;
  }
.readmore a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333;
    transition: all 200ms ease;
  }
.readmore a:hover::after {
    opacity: 0;
    transform: translateY(3px);
  }


  /*---------------------------
  ヘッダー
  ---------------------------*/
header {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    width: 100%;
}
header h1 {
    line-height: 1px;
    padding: 20px 0;
}
header h1 a {
    display: inline-block;
}
header h1 img {
    width: 145px;
}
header nav {
    background-color: #333;
    padding: 10px 0;
}
header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header nav ul li {
    margin-right: 60px;
    font-size: 14px;
}
header nav ul li:last-child {
    margin-right: 0;
}
header nav ul li a{
    color: #fff;
    display: inline-block;
}

/*---------------------------
ピックアップ
---------------------------*/
.pickup {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.pickup li {
    flex-basis: 32%;
}
.pickup li p {
    font-weight: bold;
    margin: 10px 0 15px;
}

/*---------------------------
メイン
---------------------------*/
.main-area {
    margin: 70px auto 140px;
    display: flex;
    justify-content: space-between;
}
main {
    flex-basis: 65%;
}
aside {
    flex-basis: 31%;
}
main h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.date-category {
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
}
main img {
    width: 100%;
    margin-top: 10px;
}
main p {
    padding: 0 41px;
    margin: 10px 0 30px;
}
article {
    margin-bottom: 80px;
}

/*---------------------------
サイドバー
---------------------------*/
aside {
    padding-right: 13px;
}
aside p , aside li {
    font-size: 14px;
}
aside h3 {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}
.profile {
    padding-top: 20px;
}
.name {
    text-align: center;
}
.profile img{
    width: 130px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 30px;
}

.ranking {
    margin-top: 60px;
}
.ranking a {
    display: inline-block;
    margin-bottom: 30px;
}

.archive {
    margin-top: 60px;
}
.archive ul li {
    border-top: 1px solid #777777;
    padding: 20px;
}
.archive ul li:last-child {
    border-bottom: 1px solid #777777;
}

/*---------------------------
フッター
---------------------------*/
footer {
    background-color: #f7f7f7;
    padding: 50px 0 10px;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
}
footer p,
footer a {
    font-size: 14px;
}
.item {
    flex-basis: 30%;
    margin-bottom: 60px;
}
.footer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}
.link {
    margin-top: 20px;
}
.link li {
    position: relative;
    padding: 0px 0px 0px 1em;
    margin-bottom: 5px;
}
.link li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.4em solid #333;
    content: "";
}
.menu ul li {
    border-top: 1px solid #777777;
    padding: 15px;
}
.menu ul li:last-child {
    border-bottom: 1px solid #777777;
}
.copyright {
    text-align: center;
}


@media screen and (max-width: 767px) {
    header nav {
        overflow-x: scroll;
    }
    .pickup {
        margin-top: 140px;
        flex-direction: column;
    }
    .pickup li {
        margin-bottom: 30px;
    }
    .pickup li:last-child {
        margin-bottom: 0;
    }
    .main-area {
        margin: 100px 0 120px;
        flex-direction: column;
    }
    aside {
        padding-right: 0;
    }
    footer .wrapper {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .about {
        margin-bottom: 50px;
    }
    .menu {
        margin-bottom: 30px;
    }
}